/* body{
    background-color: aquamarine;
}

.canvas {
    background-color: darkcyan;
} */

.dropdown #navbarDropdown:hover {
    display: block;
    transition: all o.5s ease-in-out;
    background-color: rgb(27, 108, 220);
    color: white;
}

.nav-link:hover {
    background-color: rgb(27, 108, 220);
    color: white;
}

#start-game:hover {
    color: white;
}

#freeze-game:hover {
    color: white;
}

#random-game:hover {
    color: white;
}